<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main/index.html</title>
    <!-- bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        // 아이디 중복확인 여부 변수
        is_check_id = false

        // 회원 가입 처리
        function join_pro(){
            // 사용자가 입력한 데이터를 가져온다.
            // id속성이 user_name인 태그에 접근해서 입력한 내용을 가져온다.
            user_name = $("#user_name").val()
            user_id = $("#user_id").val()
            user_pw = $("#user_pw").val()
            user_pw2 = $("#user_pw2").val()
            // 유효성 검사
            if(user_name.length == 0){
                alert("이름을 입력해주세요")
                $("#user_name").focus()
                return
            }
            if(user_id.length == 0){
                alert("아이디를 입력해주세요")
                $("#user_id").focus()
                return
            }
            if(user_pw.length == 0){
                alert("비밀번호를 입력해주세요")
                $("#user_pw").focus()
                return
            }
            if(user_pw2.length == 0){
                alert("비밀번호확인을 입력해주세요")
                $("#user_pw2").focus()
                return
            }
            if(user_pw != user_pw2){
                alert('비밀번호가 일치하지 않습니다')
                $('#user_pw').val('')   // 입력된 내용을 비운다.
                $('#user_pw2').val('')  // 입력된 내용을 비운다.
                $('#user_pw').focus()   // 지정된 태그에 포커스를 준다.
                return
            }
            if(is_check_id == false){
                alert('아이디 중복확인 해주세요')
                $("#user_id").focus()
                return
            }

            // ajax 통신
            param = {
                user_id : user_id,
                user_name : user_name,
                user_pw : user_pw
            }

            $.ajax({
                url : 'user_join_pro',
                type : 'post',
                dataType : 'text',
                data : param,
                success : function(result){
                    if(result.trim() == 'OK'){
                        alert('가입이 완료되었습니다')
                        location.href = 'user_login'
                    }
                }
            })
        }

        $(function(){
            // 키보드를 누르면 호출되는 함수
            $("#user_id").keydown(function(){
                // alert('눌렀습니다')
                // 중복 확인 여부 변수에 false를 넣어준다.
                is_check_id = false
            })
        })

        // 아이디 중복확인을 위한 함수
        function check_user_id(){
            // 입력한 아이디를 가져온다.
            user_id = $("#user_id").val()

            param = {
                user_id : user_id
            }

            $.ajax({
                url : 'check_user_id',
                type : 'post',
                data : param,
                dataType : 'text',
                success : function(result){
                    if(result.trim() == 'YES'){
                        is_check_id = true
                        alert('사용 가능한 아이디 입니다')
                    } else {
                        is_check_id = false
                        alert('이미 존재하는 아이디 입니다')
                        $("#user_id").val('')
                        $("#user_id").focus()
                    }
                }
            })
        }
    </script>
</head>
<body>
{% include 'include/top_menu.html' %}
<!-- 본문 부분 -->
<div class="container" style="margin-top:100px">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>회원가입</h1>
            <form action="user_login" method="get">
                <div class="form-group">
                    <label for="user_name">이름</label>
                    <input type="text" name="user_name" id="user_name"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="user_id">아이디</label>
                    <div class="input-group">
                        <input type="text" name="user_id" id="user_id"
                               class="form-control"/>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button"
                                    onclick="check_user_id()">
                                중복확인
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_pw">비밀번호</label>
                    <input type="password" name="user_pw" id="user_pw"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="user_pw2">비밀번호 확인</label>
                    <input type="password" name="user_pw2" id="user_pw2"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <div class="clearfix">
                        <div class="float-right">
                            <button type="button" class="btn btn-primary" onclick="join_pro()">
                                가입
                            </button>
                            <a href="/" class="btn btn-primary">
                                취소
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>









