<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function get_data(){
            $.ajax({
                // 요청할 주소
                url : 'ajax',
                // 요청방식
                type : 'get',
                // 응답결과 타입
                dataType : 'text',
                // 응답결과 수신이 완료되는 호출되는 함수
                success : function(result){
                    // alert(result)
                    // id가 result인 태그를 찾아 그 태그 안에 넣어준다.
                    $("#result").html("<h1>" + result + "</h1>")
                }
            })
        }
    </script>
</head>
<body>
    <a href="ajax">브라우저로 요청</a><br/>
    <button type="button" onclick="get_data()">ajax 테스트</button>
    <div id="result"></div>
</body>
</html>