<!-- html 문서임을 알려주기 위한 태그 -->
<!DOCTYPE html>
<!-- html 문서의 시작 -->
<html lang="en">
<!-- html 문서의 정보를 작성하는 곳 -->
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
</head>
<!-- html 문서를 통해 보여줄 요소를 작성하는 곳-->
<body>
    <!--
        h1 ~ h6 : 문자열 크기가 다르다.
        제목을 표시할 때 사용한다.
    -->
    <h1>index.html</h1>
    <!-- a 태그는 클릭했을 경우 href 속성에 있는 문자열을 주소창에 입력해서
        요청을 하게 된다 -->

    <!-- 앞에 프로토콜이 있는 경우 : 주소창의 주소를 덮어 씌운다 -->
    <a href="http://www.naver.com">네이버</a><br/>
    <a href="http://www.daum.net">다음</a><br/>
    <a href="http://www.google.com">구글</a><br/>
    <!-- 앞에 프로토콜이 없을 경우 : 쿼리 스트링 부분을 날리고 주소 뒤에
         붙혀준다 -->
    <!-- http://127.0.0.1/second -->
    <a href="second">second</a><br/>
</body>
</html>