<!-- 상단 메뉴 -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">로고</a>

  <!-- 왼쪽메뉴 -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/board_list/1">공지사항</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/board_list/2">자유게시판</a>
    </li>
    <!-- drop down menu -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        기타 게시판
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/board_list/3">스포츠 게시판</a>
        <a class="dropdown-item" href="/board_list/4">연예 게시판</a>
        <a class="dropdown-item" href="/board_list/5">뉴스 게시판</a>
        <a class="dropdown-item" href="/board_list/6">쇼핑 게시판</a>
      </div>
    </li>
  </ul>
  <!-- 오른쪽 메뉴 -->
  <ul class="navbar-nav ml-auto">
    {% if session['login'] and session['login'] == 'YES' %}
    <li class="nav-item">
      <a class="nav-link" href="/user_modify">정보수정</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">로그아웃</a>
    </li>
    {% else %}
     <li class="nav-item">
      <a class="nav-link" href="/user_login">로그인</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user_join">회원가입</a>
    </li>
    {% endif %}
  </ul>
</nav>